<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DYJheartRate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD66B4AC1D62F84100CB8F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD66B4C51D62F84100CB8F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD66B4D01D62F84100CB8F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
